body {
    background-color: #000000;
    color: #0a0408;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

header img {
    height: 100px;
    width: auto;
    padding: 1rem;
}


#appTitle {
    margin: 0;
    display: block;
    font-family: 'Staatliches', sans-serif;
    font-size: 80px;
    color: white;
}

#genreForm, #playBtn {
    text-align: center;
    margin: 0px auto;
    display: block;
    font-family: 'Fredoka One', sans-serif;
    color: white;
}

#movieInfo {
    width:  65%;
    margin:  32px auto;
}

#movieInfo:after {
    content:  "";
    display:  table;
    clear:  both;
}

#moviePoster, #movieText {
    width:  50%;
    float:  left;
}

img#moviePoster {
    width:  100%;
    height:  auto;
    display:  block;
    margin:  auto;
}

#movieText {
    font-family: 'Questrial';
    color: #FEFBEA;
    line-height: 1.25;
}

#movieTitle, #movieOverview, #movieReleaseDate, #ratingSection, #movieCast{
    padding: 20px 32px;
}

#playBtn {
    margin-top: 10px;
    font-size: 25px;
    padding: 7px 20px;
    border-radius: 10px;
    border-style: none;
    background-image: linear-gradient(to right, #880001, #FA0A01 , #FF7600);
    color: white;
    cursor:  pointer;
}

#playBtn:hover {
    background-image: linear-gradient(to left, #FA0A01 , #FF7600);
}

label {
    display: block;
    font-size: 35px;
    margin-bottom: 5px;
}

select {
    width: 300px;
    height: 40px;
    padding: 10px;
    border-radius: 15px;
    margin: 1rem;
}

#likeOrDislikeBtns {
    text-align: center;
}

#likeBtn, #dislikeBtn {
    padding: 15px 25px;
    font-size: 25px;
    border-radius: 12px;
    border-style: none;
    cursor:  pointer;
}

#likeBtn {
    background-color: #249e57;
    color: darkgreen;
}

#dislikeBtn {
    background-color: #c74a4a;
    color: #910000;
}